$footer-height: 9rem

.footer
  //expands a little bit vertically when, .main occupies more space
  flex: 1
  display: flex
  flex-flow: column
  justify-content: center //center vertically
  min-height: $footer-height
  padding: $main-padding
  text-align: center
  background-color: #e0e0e0

.footer__text
  //remove p margins
  margin: 0