@import url(~normalize.css/normalize.css);
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400; }

body {
  background-color: #b2ebf2; }

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh; }

.main {
  flex: 7;
  display: flex;
  flex-flow: column;
  padding: 1rem; }

.drum-machine {
  flex: 1; }

.drum-machine__wrapper {
  max-width: 40rem;
  padding: 2rem 0.8rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.4rem;
  background-color: #424242; }

.display {
  max-width: 20rem;
  min-width: 13rem;
  width: 61vw;
  padding: 0.5rem;
  margin: 0 auto 2rem auto;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 8px 2px #d32f2f7a inset; }

.display__title {
  margin: 0;
  text-align: center; }

.drumpads {
  text-align: center;
  padding-left: 0;
  list-style-type: none; }

.drumpads {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 3rem));
  grid-gap: 1rem;
  justify-items: center;
  justify-content: center; }

@supports (display: grid) {
  .drumpads {
    text-align: left; } }

.drum-pad {
  display: inline-block;
  margin: .5rem; }

.drum-pad .drum-pad__button {
  min-width: 4rem;
  min-height: 4rem;
  width: calc(4rem + 6vw);
  height: calc(4rem + 6vw);
  max-width: 8rem;
  max-height: 8rem;
  color: white;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 3px 2px #d32f2f, 0 0 3px 1px #212121, inset 0 0 2px 3px #444444;
  outline: none;
  background-color: #212121;
  cursor: pointer; }

.drum-pad .drum-pad__button:active,
.drum-pad .drum-pad__button.active {
  color: #212121;
  background-color: #b93838; }

@media screen and (max-width: 320px) {
  .drum-pad .drum-pad__button {
    width: 4rem;
    height: 4rem; } }

@supports (display: grid) {
  .drum-pad {
    display: block;
    margin: 0; } }

.header {
  text-align: center; }

.footer {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 9rem;
  padding: 1rem;
  text-align: center;
  background-color: #e0e0e0; }

.footer__text {
  margin: 0; }
